@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color: #000;
    --acp-background: #f3f3f3;
    --acp-content-background: #fff;
    --acp-button-color-1: #099627;
    --acp-button-color-2: #fff;
    --acp-button-color-3: #382121;
}

%button {
    display: inline-flex;

    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;

    @media only screen and (min-width: 900px) {
        width: 275px;
        height: 50px;
        font-size: 18px;
    }
    @media only screen and (max-width: 900px) {
        width: 250px;
        height: 35px;
        font-size: 16px;
        margin-bottom:5px;
    }
}

.advancedCookiesPopup {
    span, h1, h2, p {
        color:#000;
    }
    p, span {
        a {
            color:#000;
        }
    }
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    font-family: 'Manrope', sans-serif;
    z-index:99999;

    &__subtitle {
        font-size: 24px;
        font-weight: 600;
    }

    &__all-settings {
        height: 290px;
        overflow-y: scroll;
    }

    a.link {
        color: var(--acp-button-color-1);
    }

    &__settings-item {
        margin-top: 35px;
        line-height: 26px;
        letter-spacing: 0.4px;
    }

    &__top {
        @media only screen and (min-width: 900px) {
            display: flex;
        }
        @media only screen and (max-width: 900px) {
            display: block;
        }
    }

    &__h2 {
        margin: 0 12px 0 0 !important;
        font-family: 'Manrope', sans-serif !important;
        text-transform: none !important;
        font-size: 24px !important;
        border: 0 !important;
        display: block !important;
        font-weight: 700 !important;
        color:#000 !important;
    }

    &__settings {
        height: 310px;
        // overflow-y: scroll;
    }

    &__inside {
        width: 100%;
        height: 100%;
        position: relative;

        display: flex;
        justify-content: center;
        @media only screen and (min-width: 900px) {
            align-items: center;
        }
        @media only screen and (max-width: 900px) {
            align-items: flex-end;
        }
    }
    &__blurScreen {
        background-color: #000000c9;
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left:0;
        z-index:200;
    }
    &__content {
        background-color: var(--acp-background);
        @media only screen and (min-width: 900px) {
            width: 900px;
            height: 415px;
            padding: 40px;
        }
        @media only screen and (max-width: 900px) {
            max-width: 900px;
            height: max-content;
            padding: 31px;
            width:100vw;
        }
        z-index:201;
        position: relative;
        
    }
    &__logo {
        max-width: 190px;
    }
    &__title {
        display: block;
        font-weight: 700;
        margin-bottom: 20px;

        @media only screen and (min-width: 900px) {
            font-size: 32px;
        }
        @media only screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    &__message-content {
        font-size: 16px;
        line-height: 25px;
        color: #2c2c2c;
        letter-spacing: 0.3;
        overflow-y: scroll;

        background: var(--acp-content-background);
        // overflow-y: scroll;

        a {
            color: #1b1e4a;
        }

        @media only screen and (min-width: 900px) {
            height: 180px;
            padding: 30px;
        }
        @media only screen and (max-width: 900px) {
            height: 28vh;
            padding: 5px;
            overflow-y:scroll;
        }
    }
    &__buttons {
        margin-top:20px;
    }
    &__button {



        &--white {
            @extend %button;
            background-color: var(--acp-button-color-2);
            color: #373737;
            &:hover {
                color: #373737;  
            }
        }
        &--simple {
            @extend %button;
            background-color: var(--acp-button-color-1);
            color: var(--acp-button-color-2);
            &:hover {
                color: var(--acp-button-color-2);
            }
        }
        &--red {
            @extend %button;
            background-color: var(--acp-button-color-3);
            color: var(--acp-button-color-2);
            &:hover {
                color: var(--acp-button-color-2); 
            }
        }
    }
    

}